## Welcome to Hands On P5!

Pada Hands On kali ini, kita akan mempelajari Exploratory Data Analysis.

Dataset yang digunakan adalah Car Price Prediction | https://www.kaggle.com/datasets/hellbuoy/car-price-prediction

#### Business Goal
We are required to model the price of cars with the available independent variables. It will be used by the management to understand how exactly the prices vary with the independent variables. They can accordingly manipulate the design of the cars, the business strategy etc. to meet certain price levels. Further, the model will be a good way for management to understand the pricing dynamics of a new market.

In [102]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn import preprocessing
from sklearn.model_selection import train_test_split

from sklearn import linear_model, metrics
from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse, r2_score

In [103]:
# import dataset
df = pd.read_csv('CarPrice_Assignment.csv')

In [104]:
# quick review dengan menampilkan 5 baris data
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [105]:
df.CarName.unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [106]:
# pengecekan tipe data kolom dan missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

### Data Cleansing

In [107]:
# hapus kolom car_ID karena tidak akan digunakan dalam proses
df = df.drop(['car_ID'], axis=1)

In [108]:
# mengganti tipe data kolom 'symboling' menjadi object
# hal ini diperlukan karena pada dokumentasi dataset disebutkan bahwa kolom `symboling` memiliki tipe data object.

df['symboling'] = df['symboling'].astype('str')

In [109]:
# mengambil nama merk mobil dari kolom 'CarName'
df['CarName'] = df['CarName'].str.split(' ', expand=True)[0]

In [110]:
df.CarName.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [111]:
# membersihkan data duplikat pada kolom CarName
df['CarName'] = df['CarName'].replace({'maxda': 'mazda', 'Nissan': 'nissan', 'porcshce': 'porsche', 'toyouta': 'toyota', 
                            'vokswagen': 'volkswagen', 'vw': 'volkswagen'})
df.CarName.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

## Data Preparation

### - Encoding

#### 1. Label Encoding

In [112]:
# Ambil kolom-kolom kategorikal
cate_cols = df.select_dtypes(include=['object']).columns
# Ambil fungsi LabelEncoder ke variabel 'le'
le = preprocessing.LabelEncoder()
# copy dataframe ke variabel baru
df_label_encode = df.copy()

# Encode label kategorikal menggunakan Label Encoder
for col in cate_cols:
    df_label_encode[col] = le.fit_transform(df_label_encode[col].astype(str))

df_label_encode

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,5,0,1,0,1,0,2,0,88.6,168.8,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,5,0,1,0,1,0,2,0,88.6,168.8,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,0,1,0,1,2,2,0,94.5,171.2,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,1,1,0,0,3,1,0,99.8,176.6,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,4,1,1,0,0,3,0,0,99.4,176.6,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0,21,1,0,0,3,2,0,109.1,188.8,...,141,5,3.78,3.15,9.5,114,5400,23,28,16845.0
201,0,21,1,1,0,3,2,0,109.1,188.8,...,141,5,3.78,3.15,8.7,160,5300,19,25,19045.0
202,0,21,1,0,0,3,2,0,109.1,188.8,...,173,5,3.58,2.87,8.8,134,5500,18,23,21485.0
203,0,21,0,1,0,3,2,0,109.1,188.8,...,145,3,3.01,3.40,23.0,106,4800,26,27,22470.0
204,0,21,1,1,0,3,2,0,109.1,188.8,...,141,5,3.78,3.15,9.5,114,5400,19,25,22625.0

#### 2. One-Hot Encoding

In [113]:
df_one_hot = pd.get_dummies(df)

df_one_hot

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
1,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,...,0,0,0,0,0,0,0,1,0,0
2,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,...,0,0,0,0,0,0,0,1,0,0
3,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,...,0,0,0,0,0,0,0,1,0,0
4,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,...,0,0,0,0,0,0,0,1,0,0
201,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,...,0,0,0,0,0,0,0,1,0,0
202,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,...,0,0,0,0,0,0,0,1,0,0
203,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,...,0,0,0,0,0,1,0,0,0,0
204,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,...,0,0,0,0,0,0,0,1,0,0

In [114]:
df_one_hot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 80 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   wheelbase              205 non-null    float64
 1   carlength              205 non-null    float64
 2   carwidth               205 non-null    float64
 3   carheight              205 non-null    float64
 4   curbweight             205 non-null    int64
 5   enginesize             205 non-null    int64
 6   boreratio              205 non-null    float64
 7   stroke                 205 non-null    float64
 8   compressionratio       205 non-null    float64
 9   horsepower             205 non-null    int64
 10  peakrpm                205 non-null    int64
 11  citympg                205 non-null    int64
 12  highwaympg             205 non-null    int64
 13  price                  205 non-null    float64
 14  symboling_-1           205 non-null    uint8
 15  symboling_-2           205 non-null    uint8
 16  symboling_0            205 non-null    uint8
 17  symboling_1            205 non-null    uint8
 18  symboling_2            205 non-null    uint8
 19  symboling_3            205 non-null    uint8
 20  CarName_alfa-romero    205 non-null    uint8
 21  CarName_audi           205 non-null    uint8
 22  CarName_bmw            205 non-null    uint8
 23  CarName_buick          205 non-null    uint8
 24  CarName_chevrolet      205 non-null    uint8
 25  CarName_dodge          205 non-null    uint8
 26  CarName_honda          205 non-null    uint8
 27  CarName_isuzu          205 non-null    uint8
 28  CarName_jaguar         205 non-null    uint8
 29  CarName_mazda          205 non-null    uint8
 30  CarName_mercury        205 non-null    uint8
 31  CarName_mitsubishi     205 non-null    uint8
 32  CarName_nissan         205 non-null    uint8
 33  CarName_peugeot        205 non-null    uint8
 34  CarName_plymouth       205 non-null    uint8
 35  CarName_porsche        205 non-null    uint8
 36  CarName_renault        205 non-null    uint8
 37  CarName_saab           205 non-null    uint8
 38  CarName_subaru         205 non-null    uint8
 39  CarName_toyota         205 non-null    uint8
 40  CarName_volkswagen     205 non-null    uint8
 41  CarName_volvo          205 non-null    uint8
 42  fueltype_diesel        205 non-null    uint8
 43  fueltype_gas           205 non-null    uint8
 44  aspiration_std         205 non-null    uint8
 45  aspiration_turbo       205 non-null    uint8
 46  doornumber_four        205 non-null    uint8
 47  doornumber_two         205 non-null    uint8
 48  carbody_convertible    205 non-null    uint8
 49  carbody_hardtop        205 non-null    uint8
 50  carbody_hatchback      205 non-null    uint8
 51  carbody_sedan          205 non-null    uint8
 52  carbody_wagon          205 non-null    uint8
 53  drivewheel_4wd         205 non-null    uint8
 54  drivewheel_fwd         205 non-null    uint8
 55  drivewheel_rwd         205 non-null    uint8
 56  enginelocation_front   205 non-null    uint8
 57  enginelocation_rear    205 non-null    uint8
 58  enginetype_dohc        205 non-null    uint8
 59  enginetype_dohcv       205 non-null    uint8
 60  enginetype_l           205 non-null    uint8
 61  enginetype_ohc         205 non-null    uint8
 62  enginetype_ohcf        205 non-null    uint8
 63  enginetype_ohcv        205 non-null    uint8
 64  enginetype_rotor       205 non-null    uint8
 65  cylindernumber_eight   205 non-null    uint8
 66  cylindernumber_five    205 non-null    uint8
 67  cylindernumber_four    205 non-null    uint8
 68  cylindernumber_six     205 non-null    uint8
 69  cylindernumber_three   205 non-null    uint8
 70  cylindernumber_twelve  205 non-null    uint8
 71  cylindernumber_two     205 non-null    uint8
 72  fuelsystem_1bbl        205 non-null    uint8
 73  fuelsystem_2bbl        205 non-null    uint8
 74  fuelsystem_4bbl        205 non-null    uint8
 75  fuelsystem_idi         205 non-null    uint8
 76  fuelsystem_mfi         205 non-null    uint8
 77  fuelsystem_mpfi        205 non-null    uint8
 78  fuelsystem_spdi        205 non-null    uint8
 79  fuelsystem_spfi        205 non-null    uint8
dtypes: float64(8), int64(6), uint8(66)
memory usage: 35.8 KB

### - Train Test Split

In [115]:
# tentukan variabel X dan y
X = df_one_hot.drop(['price'], axis=1)
y = df_one_hot['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Modelling

### - Linear Regression

In [116]:
# create linear regression object
reg = linear_model.LinearRegression()
 
# train the model using the training sets
reg.fit(X_train, y_train)

LinearRegression()

In [117]:
# Predict using data test
y_pred = reg.predict(X_test)

In [118]:
# Evaluation

# RMSE
reg_rmse = np.sqrt(mse(y_test, y_pred))

# MAE
reg_mae = mae(y_test, y_pred)

# r2 score
reg_r2 = r2_score(y_test, y_pred)

print("Evaluasi model Linear Regression:")
print("RMSE:", reg_rmse)
print("MAE:", reg_mae)
print("R2:", reg_r2)

Evaluasi model Linear Regression:
RMSE: 2941.912920297082
MAE: 1965.5505695086365
R2: 0.8903672306759701

### - Random Forest

In [123]:
dct = DecisionTreeRegressor()

dct.fit(X_train, y_train)

DecisionTreeRegressor()

In [124]:
# Predict using data test
y_pred = dct.predict(X_test)

In [125]:
# Evaluation

# RMSE
reg_rmse = np.sqrt(mse(y_test, y_pred))

# MAE
reg_mae = mae(y_test, y_pred)

# r2 score
reg_r2 = r2_score(y_test, y_pred)

print("Evaluasi model Decision Tree:")
print("RMSE:", reg_rmse)
print("MAE:", reg_mae)
print("R2:", reg_r2)

Evaluasi model Decision Tree:
RMSE: 2721.411904230063
MAE: 1921.7235853658538
R2: 0.9061856405341332